 <link rel="stylesheet" href="/css/stylePages.css">

//.....nav bar with links to which appear only if user is logged in 


<nav>
    <div class="navContainer">
        <a class="nav" href="/">
            <li>Home</li>
        </a>
        {{#if loggedIn}}
        <a class="nav" href="/profile/{{userId}}">
            <li>profile</li>
        </a>
        <a class="nav" href="/updateProfile/{{userId}}">
            <li>update profile</li>
        </a>
        <a class="nav" href="/userBlogs/{{userId}}">
            <li>All Blog Posts</li>
        </a>

        <a class="nav" href="/createBlog/{{userId}}">
            <li>create blog</li>
        </a>
        {{else}}
        <a class="nav" href="/register">
            <li>Register</li>
        </a>
        {{/if}}
        {{#if loggedIn}}
        <a class="nav" href="/logout">
            <li>Log Out</li>
        </a>
        {{else}}
        <a class="nav" href="/loginPage">
            <li>Log In</li>
        </a>
        {{/if}}
    </div>
</nav>
